@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern {
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png'); /* Example pattern */
    background-size: 100px 100px; /* Adjust size as needed */
    opacity: 0.3; /* Adjust opacity to fit your design */
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  